.compare_container {
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
}

.expand_button {
  border-radius: 1rem;
  color: rgb(71, 65, 56);
  width: 7rem;
  height: 2.5rem;
  border: 1px solid rgb(71, 65, 56);
}

.column_feature {
  height: 4.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 330;
}

.rdt_TableRow {}

.rdt_columnText {
  font-size: 1.3rem;
  font-weight: 375;
}

.check_mark {
  width: 2.1rem;
}

.expanded_row {
  height: 4.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.expanded_row p {
  font-size: 1.1rem;
  padding: 0 1rem;
  min-width: 100%;
}

@media only screen and (max-width: 768px) {

  .compare_container {
    padding-top: 1.5rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .expand_button {
    font-size: 0.9rem;
    width: 5rem;
    height: 1.8rem;
  }

  .column_feature {
    height: 4rem;
    font-size: 0.95rem;
  }

  .rdt_columnText {
    font-size: 1rem;
  }

  .check_mark {
    width: 1.8rem;
  }

  .expanded_row {
    height: auto;
    line-height: 1.3rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    padding-top: 0.5rem;
  }

  .expanded_row p {
    font-size: 0.85rem;
  }

}

@media only screen and (max-width: 380px) {

  .compare_container {}

  .column_feature {}

  .rdt_columnText {}

  .expanded_row {}

  .expanded_row p {}
}