#contact_container {
  display: flex;
  color: rgb(66, 66, 66);
  background-image: url('./../../assets/home_office.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

#contact_banner {
  color: rgb(71, 65, 56);
}

.contact_section {
  display: flex;
  width: 100%;
  margin: auto;
  opacity: 98%;
}

.contact_image {
  margin: auto;
  width: 50%;
  border-radius: 80px;
  object-fit: contain;
}

.form_container {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  background: rgb(240, 240, 240);
  padding: 2rem 3rem;
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form_group {
  display: flex;
  width: 100%;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form_label {
  font-size: 1.1rem;
  padding-right: 1rem;
}

.form_text_input {
  font-size: 1rem;
  border-radius: 4px;
  line-height: 1.5rem;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(51, 51, 51);
  background: #dee1e2;
  height: 2rem;
  flex-grow: 1;
}

.form_text_input:hover {
  border-color: #ccc;
}

.form_text_input:focus {
  border-color: #979797;
}

.form_select_input {
  border: none;
  border-radius: 6px;
  height: 2rem;
  padding: 0 6px;
  flex-grow: 1;
  text-align: center;
  background-color: rgb(212, 212, 212);
  color: rgb(85, 85, 85);
}

.select_option {
  background-color: rgb(212, 212, 212);
}

.message_box {
  height: 5rem;
  width: 50%;
}

.submit_button {
  width: 100%;
  height: 2.2rem;
  margin-top: 4rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(187, 187, 187);
}

.submit_button:hover {
  background-color: rgb(128, 128, 128);
}

#response_container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-right: 2rem;
  color: rgb(71, 65, 56);
  font-size: 1rem;
  font-weight: 300;
  /* align-items: center; */
}

.gratitude_message {
  font-size: 2.2rem;
}

.response_message {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
}

.faq_message {
  font-size: 1.05rem;
  margin-top: 3rem;
}

.faq_link {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #contact_container {
    height: 100%;
    padding: 0.5rem 0;
  }

  #contact_banner {
    color: rgb(71, 65, 56);
  }

  .contact_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .contact_image {
    margin: auto;
    width: 70%;
    border-radius: 80px;
    object-fit: contain;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 0.5rem;
    width: 95%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #response_container {
    padding: 2rem;
  }

  .gratitude_message {
    text-align: center;
  }

  .response_message {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .form_container {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .form_label {
    font-size: 0.85rem;
  }

  .form_text_input {
    font-size: 0.85rem;
  }
}