#consultation_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 7rem;
  padding-bottom: 3rem;
  background-color: white;
}

#consultation_banner {
  color: rgb(71, 65, 56);
  font-weight: 300;
}

.consultation_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consultation_image {
  margin: auto;
  width: 30rem;
  border-radius: 100px;
}

.consultation_info {
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 16rem;
  color: rgb(71, 65, 56);
  line-height: 2rem;
}

#consultation_container a {
  margin: auto;
}

#consultation_button {
  height: 3.5rem;
  width: 12rem;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  transition: 0.3s ease-in-out;
  border: 1px solid rgb(107, 107, 107);
  color: rgb(75, 75, 75);
  font-weight: 370;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#consultation_button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: rgb(75, 75, 75);
  animation: pulse 1s infinite;
}



@media only screen and (max-width: 768px) {
  #consultation_container {
    margin-top: 0;
  }

  #consultation_banner {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0;
  }

  .consultation_image {
    margin: auto;
    width: 20rem;
    border-radius: 100px;
  }

  .consultation_info {
    font-size: 1rem;
    font-weight: 370;
    padding: 2rem 3rem;
  }

  #consultation_container a {
    margin: auto;
  }

  #consultation_button {
    height: 3.5rem;
    width: 12rem;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 380px) {
  .consultation_info {
    font-size: 1rem;
  }
}