#product_compare_diagram {
  width: 60%;
  margin: auto;
  padding-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  #product_compare_diagram {
    margin-top: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 380px) {

  #benefits_showcase_container {}

  #benefits_showcase_banner {}

  #product_compare_diagram {}
}